<div class="col-sm-12">
  <p id="notice"><%= notice %></p>

<h1>Categories</h1>
<% @categories.each do |category| %>
  <h3><%= category.title.upcase %></h3>
  <ul>
    <% category.listings.each do |list| %>
      <li><%= list.title %></li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'New Category', new_category_path %>

</div>
